<div id="wrapper">
	<div id="staff" class="container">
		<div class="title">
			<h2>Contacto</h2>
			<span></br></span>
		</div>
	    <div class="containercontact">
			<div class="col-lg-6">
				<form>      
  					<input name="name" type="text" class="feedback-input" placeholder="Nombre" />   
  					<input name="email" type="text" class="feedback-input" placeholder="Correo" />
  					<textarea name="text" class="feedback-input" placeholder="Mensaje"></textarea>
  					<input type="submit" value="Contactar"/>
				</form>
		</div>
		<div class="col-lg-7">
			<div class="map" >
				<iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Kuningan,+Jakarta+Capital+Region,+Indonesia&amp;aq=3&amp;oq=kuningan+&amp;sll=37.0625,-95.677068&amp;sspn=37.410045,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Kuningan&amp;t=m&amp;z=14&amp;ll=-6.238824,106.830177&amp;output=embed">
				</iframe>
			</div>
		</div>
	</div>	
	</div>
</div>