
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: rgb(245,106,33);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #000000;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #CC0000;
}

a:hover
{
	text-decoration: none;
}

.container
{
	overflow: hidden;
	margin: 0em auto;
	width: 1000px;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-left
{
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
{
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
{
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}

ul.contact li
{
	display: inline-block;
	padding: 0em 0.30em;
	font-size: 1em;
}

ul.contact li span
{
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a
{
	color: #FFF;
}

ul.contact li a:before
{
	display: inline-block;
	background: #3f3f3f;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	color: #FFFFFF;
}

ul.contact li a.icon-twitter:before
{
	background: #2DAAE4;
}

ul.contact li a.icon-facebook:before
{
	background: #39599F;
}

ul.contact li a.icon-dribbble:before
{
	background: #C4376B;
}

ul.contact li a.icon-tumblr:before
{
	background: #31516A;
}

ul.contact li a.icon-rss:before
{
	background: #F2600B;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
{
	display: inline-block;
	padding: 1em 3em 1em 2em;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #FFF;
}

.button:before
{
	display: inline-block;
	background: #FFC31F;
	margin-right: 1em;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	color: #272925;
}

/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,  .box2,  .box3,  .box4
{
	width: 235px;
}
 .box1,  .box2,  .box3, {
 float: left;
 margin-right: 20px;
}

.box4
{
	float: right;
}

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,  .boxB,  .boxC
{
	width: 300px;
}

.boxA,  .boxB
{
	float: left;
	margin-right: 50px;
}

.boxC
{
	float: right;
}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,  .tbox2
{
	width: 575px;
}

.tbox1
{
	float: left;
}

.tbox2
{
	float: right;
}

#wrapper
{
	background: #FFF;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
{
	background: url(images/banner5.jpg) no-repeat center;
	background-size: cover;
	border-top: 5px solid rgb(245,106,33);
}

#header
{
	position: relative;
	padding: 5em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
{

}

#logo h1
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em 1em;
	background: rgb(245,106,33);
	/*188,61,102 moradito*/
	/*245,106,33 naranja*/
	border-radius: 0px 0px 5px 5px;
}

#logo a
{
	text-decoration: none;
	color: #FFF;
}

#logo a img{
	max-width:300px;
}

#content{
	text-align: left;
}
/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
{
	position: absolute;
	top: 4em;
	right: 0;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}

#menu li a, #menu li span
{
	padding: 1em 1.5em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.90em;
	font-weight: 600;
	color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
	background: rgb(245,106,33);
	/*#CC0000;*/
	border-radius: 5px;
}

#menu .current_page_item a
{
}

#menu .icon
{
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
{
	padding: 10em 0em;
}

#banner span
{
	display: block;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.5em;
	/*color: #FFF;*/
	-webkit-text-stroke: 1px black;
}

#eslogan {
text-align: center;
color: #FFF;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		padding-bottom: 5em;
	}
	
	#page h2
	{
		padding-bottom: 1.5em;
		text-transform: uppercase;
		font-size: 1.5em;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
{
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
{
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
{
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
{
	overflow: hidden;
	padding: 5em 0em;
}

#copyright p
{
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(255,255,255,0.6);
}

#copyright a
{
	text-decoration: none;
	font-weight: bold;
	color: rgba(255,255,255,0.9);
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
{
	margin-bottom: 3em;
	text-transform: uppercase;
}

.title h2
{
	font-size: 2.8em;
	font-weight: 700;
}

.title .byline
{
	font-size: 1.1em;
	color: #6F6F6F;
}

/*********************************************************************************/
/* Staff                                                                         */
/*********************************************************************************/

	#staff
{
	padding: 5em 0em;
	text-align: center;
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome
{
	padding: 5em 0em 5em 0em;
	border-top: 1px solid rgba(0,0,0,.1);
	text-align: center;
}

ul.style3
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	color: #6c6c6c
}

ul.style3 li
{
	padding: 1.6em 0em 0em 0em;
	margin: 0 0 1em 0;
}

ul.style3 p
{
	margin: 0;
}

ul.style3 a
{
	display: block;
	text-decoration: none;
	color: #2D2D2D;
}

ul.style3 a:hover
{
	text-decoration: underline;
}

ul.style3 h3
{
	padding: 1em 0em 5px 0em;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 300;
}

ul.style3 .first
{
	padding-top: 0;
	background: none;
}

ul.style3 .date
{
	float: left;
	position: relative;
	width: 80px;
	height: 70px;
	margin: 0.5em 1.5em 0em 0.5em;
	padding: 20px 0em 0em 0em;
	background: #262626;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(0,0,0,.2);
	font-size: 1em;
	font-weight: 400;
	color: #FFF;
}

ul.style3 .date:after
{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

ul.style3 .date b
{
	margin: 0;
	padding: 0;
	display: block;
	margin-top: -5px;
	font-size: 1.8em;
	font-weight: 700;
	color: #FFFFFF;
}

ul.style3 .date a
{
	color: #FFFFFF !important;
}

ul.style3 .date a:hover
{
	text-decoration: none;
}

ul.style4
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style4 li
{
	border-top: 1px solid rgba(0,0,0,0.1);
	line-height: 3em;
}

ul.style4 a
{
	color: #2D2D2D;
}

ul.style4 .first
{
	padding-top: 0px;
	border-top: none;
}

.title span{
			background: rgb(245,106,33);
			content: '';
			display: inline-block;
			height: 0.2em;
			max-width: 30em;
			width: 75%;

}

/**************************************************************************************************/

/* --- Contact area --- */
.containercontact {
  /*padding-right: 15px;*/
  padding-left: 1.1%;
  margin-right: auto;
  margin-left: auto;
}

/*
.containercontact > .navbar-header,
.containercontact > .navbar-collapse {
  margin-right: -5%;
  margin-left: -5%;
}
*/

.containercontact:before,
.containercontact:after{
	display: table;
  content: " ";
}

.containercontact:after{
	clear: both;
}

.col-lg-6{
    position: relative;
  /*min-height: 1px;*/
  padding-right: 1.11%;
  padding-left: 1.11%;
  float: left;
  width: 45%;
}

/*div de la seccion del mapa*/
.col-lg-7{
    position: static;
  /*min-height: 1px;*/
  padding-right: 1.11%;
  padding-left: 1.11%;
  float: left;
  width: 49.9%;
  height: 100%
}

/* --- Map --- */
.map{
	position:relative;
	margin-top:50px;
	margin-bottom:40px;
}

.map iframe{
	width:100%;
	height:350px;
	border: 2px solid transparent;
	border-color:#ddd;
}

/*******************************************/
form { 
	max-width:420px; 
	margin:10% auto; 
}

.feedback-input {
  /*color:white;*/
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid rgb(250,182,146); /*rgb(249,162,115)*/
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
	border:2px solid rgb(245,106,33); 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: rgb(245,106,33); /*rgb(249,155,104)*/
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { 
	background: rgb(234,89,11); 
}