<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", greenhouse_path(id) %></li>
        <li><%= link_to "New Shipment", new_greenhouse_sale_path(id) %></li>


        <li><%= link_to "Shipment tracking", greenhouse_sales_path(id) %></li>
        <!--<li><a href="#">Bill collection</a></li>
        <li><a href="#">Billing tracking</a></li>
        <li><a href="#">Vanguard Billing</a></li>
        <li><a href="#">Vanguard Billing tracking</a></li>-->


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
