<%= form_for @sale, :html => { :class => 'form-horizontal' } do |f| %>
<div class="container-fluid" style="background-color:white;">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="page-header">
						<h1>
							Logo <small>Custom Invoice</small>
						</h1>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							 <span class="label label-primary">Domicilio fiscal</span>
							<address>
								 <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br> <abbr title="Phone">P:</abbr> (123) 456-7890
							</address>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									 <span class="label label-primary">Factura Comercial</span>
								</div>
								<div class="col-md-6">
										12345
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									 <span class="label label-primary">Fecha</span>
								</div>
								<div class="col-md-6">
										22 - Marzo - 2015
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							 <span class="label label-primary">Orden de Compra</span>
								1234
						</div>
						<div class="col-md-6">
							 <span class="label label-primary">Manifiesto</span>
								12344
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3>
						Contribuyente de Régimen de Transparencia
					</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">
										Vendido a:
									</h3>
								</div>
								<div class="panel-body">
									Nombre / RFC
								</div>
								<div class="panel-footer">
									Dirección
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">
										Enviado a
									</h3>
								</div>
								<div class="panel-body">
									Nombre / RFC
								</div>
								<div class="panel-footer">
									Dirección
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">
										Agencia Aduanal
									</h3>
								</div>
								<div class="panel-body">
									Agencia Mexico / Dirección
								</div>
								<div class="panel-footer">
									Agencia USA / Dirección
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">
										Datos Transportista
									</h3>
								</div>
								<div class="panel-body">
									Operadora / Compañia
								</div>
								<div class="panel-footer">
									Datos de la Caja
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
								<th>Cantidad</th>
								<th>Unidad</th>
								<th>Peso</th>
								<th>Descripción</th>
                <th>Precio Unitario</th>
                <th>Monto total</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>RPC</td>
								<td>13 lb</td>
								<td>01/04/2012</td>
								<td>Default</td>
								<td>Default</td>
							</tr>
							<tr class="active">
								<td>
									1
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Approved
								</td>
							</tr>
							<tr class="success">
								<td>
									2
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									02/04/2012
								</td>
								<td>
									Declined
								</td>
							</tr>
							<tr class="warning">
								<td>
									3
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									03/04/2012
								</td>
								<td>
									Pending
								</td>
							</tr>
							<tr class="danger">
								<td>
									4
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									04/04/2012
								</td>
								<td>
									Call in to confirm
								</td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-md-6">
							<dl>
								<dt>
									CAAT
								</dt>
								<dd>
									A description list is perfect for defining terms.
								</dd>
								<dt>
									Peso por caja
								</dt>
								<dd>
									Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
								</dd>
								<dt>
									Codigo Alpha
								</dt>
								<dd>
									Etiam porta sem malesuada magna mollis euismod.
								</dd>
								<dt>
									FDA
								</dt>
								<dt>
									<span>Fusce dapibus, tellus ac cursus commodo</span>
								</dt>
								<dt>
									No. Pallets
								</dt>
								<dd>
									Fusce dapibus, tellus ac cursus commodo.
								</dd>

							</dl>
						</div>
						<div class="col-md-6">
							<table class="table">
								<thead>
									<tr>
										<th>
											#
										</th>
										<th>
											Product
										</th>
										<th>
											Payment Taken
										</th>
										<th>
											Status
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											1
										</td>
										<td>
											TB - Monthly
										</td>
										<td>
											01/04/2012
										</td>
										<td>
											Default
										</td>
									</tr>
									<tr class="active">
										<td>
											1
										</td>
										<td>
											TB - Monthly
										</td>
										<td>
											01/04/2012
										</td>
										<td>
											Approved
										</td>
									</tr>
									<tr class="success">
										<td>
											2
										</td>
										<td>
											TB - Monthly
										</td>
										<td>
											02/04/2012
										</td>
										<td>
											Declined
										</td>
									</tr>
									<tr class="warning">
										<td>
											3
										</td>
										<td>
											TB - Monthly
										</td>
										<td>
											03/04/2012
										</td>
										<td>
											Pending
										</td>
									</tr>
									<tr class="danger">
										<td>
											4
										</td>
										<td>
											TB - Monthly
										</td>
										<td>
											04/04/2012
										</td>
										<td>
											Call in to confirm
										</td>
									</tr>
								</tbody>
							</table>
							<blockquote>
								<p>
									Importe con letra
								</p>
							</blockquote>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p class="text-justify text-muted">
								Se señala el precio de venta exclusivamente para cubrir con los
                requisitos de traslado y trámites aduanales, ya que los productos
                que contiene este documento son vendidos en firme y posteriormente facturados.
                <br>
								Estos tomates son vendidos por un firmante del Acuerdo de Suspensión
                del 2013 con el Departamento de Comercio de los Estados Unidos a
								una entidad Canadiense y están sujetos a los requisitos del Acuerdo
                de Suspensión para documentar las ventas a Canadá. En el caso de que
								estos tomates se revendan a los Estados Unidos, deben ser vendidos
                en conformidad con los terminos del Acuerdo de Suspensión a una
								entidad que tenga Licencia PACA y aprecios iguales o superiores al
                Precio de Referencia, tal como se establece en el Anexo "E".
                <br>
								These tomatoes are sold by a signatory of the 2013 Tomato Suspension
                Agreement with the U.S. Department of Commerce to a Canadian
								entity and are subject to Suspension Agreement's requirements for
                documenting sales to Canada. In the event that these tomatoes are
								resold into the United States , they must be sold in accordance with
                the terms of Suspension Agreeement to an entity with a PACA License
								and at prices that are at or above the Reference Price as established in Appendix "E".
                </p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							 <span class="label label-primary">Entregó</span>
							<p>
								Aliquam eget sapien sapien.
							</p>
						</div>
						<div class="col-md-6">
							 <span class="label label-primary">Recibió</span>
							<p>
								Aliquam eget sapien sapien.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
