<div class="container-fluid padding-up" style="background-color: white;">
	<div class="row">
		<div class="col-md-12">
			<div class="page-">
				<div class="col-md-4">
          <h1>
  					<%= image_tag "logo" %> <small>Invoice</small>
  				</h1>
          <hr>
				</div>
        <div class="col-md-8">
    			<div class="row">
    				<div class="col-md-6">
    					<p class="lead text-center" style="font-size: 10px;">
    						20 - Oct - 2015
    					</p>
    				</div>
    				<div class="col-md-6">
    					<p class="lead text-right" style="font-size: 10px;">
    						No. 88888
    					</p>
    				</div>
    			</div>
    		</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p class="text-justify">
			  <strong>Bill to:</strong><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum,
         turpis ut posuere placerat, enim ipsum luctus orci, sit amet pulvinar
			</p>
		</div>
		<div class="col-md-6">
			<p class="text-justify">
			  <strong>Ship to:</strong><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum,
         turpis ut posuere placerat, enim ipsum luctus orci, sit amet pulvinar
			</p>
		</div>
		<div class="col-md-6">
			<p class="text-justify">
			  <strong>Description</strong><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>
		</div>
		<div class="col-md-6">
			<p class="text-justify">
			  <strong>Description</strong><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>
		</div>
	</div>
	<div class="row" style="background-color: rgb(132, 189, 196); color: black; margin-top: 2%;">
		<div class="col-md-12 padding-up">
			<table class="table table-condensed" style="border-color: #333;">
				<thead>
					<tr>
						<th>
							Quantity
						</th>
						<th>
							Unit
						</th>
						<th>
						 Description
						</th>
						<th>
							Unit price
						</th>
            <th>
              Ext. Price
            </th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>
							1
						</td>

						<td>
							1
						</td>
            <td>
              TB - Monthly
            </td>
						<td>
							$19.99
						</td>
            <td>
              $19.00
            </td>
					</tr>
					<tr>
						<td>
							1
						</td>

						<td>
							1
						</td>
            <td>
              TB - Monthly
            </td>
						<td>
							$19.99
						</td>
            <td>
              $19.00
            </td>
					</tr>
					<tr>
						<td>
							1
						</td>

						<td>
							1
						</td>
            <td>
              TB - Monthly
            </td>
						<td>
							$19.99
						</td>
            <td>
              $19.00
            </td>
					</tr>

				</tbody>
			</table>
			<div class="row">
				<div class="col-md-10">
				</div>
				<div class="col-md-2 text-right">
					<table class="table">
						<thead>
							<tr>
								<th>
									TOTAL
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									1
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 padding-up">
			<h2 class="text-center">
				THANK YOU
			</h2>
			<div class="row padding-up">
				<div class="col-md-6">

					<address>
						 <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br> <abbr title="Phone">P:</abbr> (123) 456-7890
					</address>
				</div>
				<div class="col-md-6">
          <p class="text-right lead">
            <strong>Terms & Conditions</strong>
          </p>
					<p class="text-right">
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
					</p>
				</div>
			</div>
			<blockquote>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				</p> <small>Someone famous <cite>Source Title</cite></small>
			</blockquote>
		</div>
	</div>
</div>
