<div class="well">
  <%= link_to 'Back', greenhouse_colors_path(@greenhouse.id), class: "btn btn-default" %>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">New Color</h3>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
</div>
