// Place all the styles related to the Greenhouses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fix-greenhouse {
  max-height: 120px;
  & img {
    max-height: 100px;
    height: 100%;
  }
}



