

$border_color: #A2A2A2;
  .container, td, p {
    font-size: 10px;
  }

  .div-table, tbody {
    /*border-collapse: collapse;*/
  }

  table, .clean-table {
    margin-top: 5px 30px;
    empty-cells: hide;

  }

  td {
    max-height: 12px;

  }

    .header {
      background-color: $border_color;
      border: 1px solid $border_color;
      font-weight: bold;
      color: black;
    }

    .cell{
      border: 1px solid $border_color;
      padding: 3px;
    }

    .empty-cell{
      width: 30%;
    }


  .font { font-size: 10px; }

  .label {
        background-color: $border_color;
  }

  .card-block{
    background-color: $border_color;
  }

  .mid-cell{
    width: 30%;
  }

  .invoice-table{
    margin-top: 5px 30px;
    empty-cells: hide;
    width: 100%;
  }

  .top-table{

  }

  .middle-table{

  }

  .bottom-table{
    border: 1px solid $border_color;
  }

  .total-cell{
    width: 13%;
  }







