.switch {

  margin: 0.5em;
  padding: 0.8em;
  background-color: #F9F9F9;
  font-size: 12px;
  text-align: -webkit-center;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 5px;
  height: 7em;

}

