// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-margin{
margin-top: 1.4em;
}


#big-box{
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

