<div class="well">
  <%= link_to 'Back', greenhouse_warehouses_path(@greenhouse.id), class: "btn btn-default" %>
  <%= link_to 'Show', greenhouse_warehouse_path(@greenhouse.id, @warehouse.id), class: "btn btn-primary" %>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Editing Warehouse</h3>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
</div>
