<h1>Editing Collections Bill</h1>

<%= render 'form' %>

<%= link_to 'Show', greenhouse_sale_collections_bill_path(@greenhouse.id, @sale.id, @collections_bill.id) %> |
<%= link_to 'Back', greenhouse_sale_path(@greenhouse.id, @sale.id) %>
