
<!DOCTYPE html>
<html>

<head>
  <title>Factura</title>
  <%= stylesheet_link_tag(asset_data_base64('application.css')) %>
</head>
<div id="content" style="font-size:10px;">
  <%= yield %>
</div>
</body>
</html>
